<!-- $templateCache.put("app/components/list.html", -->
<div class=\"container-fluid broadcast-list\" ng-if=\"list.filter.type === \'broadcast\'\">
	<div class=\"row\" infinite-scroll-container=\"\'#main-content\'\" infinite-scroll-disabled=\"!list.fetchEnabled\" infinite-scroll=\"list.fetch()\">
		<ng-include ng-if=\"::!(broadcast.isLive && list.filter.hideLiveBroadcasts)\" ng-repeat=\"broadcast in list.list\" src=\"\'app/components/broadcastTile.html\'\"></ng-include>
	</div>
</div>
<div class=\"container-fluid game-list\" ng-if=\"list.filter.type === \'game\'\">
	<div class=\"row\" infinite-scroll-container=\"\'#main-content\'\" infinite-scroll-disabled=\"!list.fetchEnabled\" infinite-scroll=\"list.fetch()\">
		<div class=\"game col-xs-4 col-sm-4 col-md-4 col-lg-4\" ng-repeat=\"game in list.list\">
			<a class=\"game-item\" ng-href=\"/game/{{::game.lowerUrl}}\">
				<div class=\"game-icon\"><img class=\"icon\" fallback-src=\"https://mobcrush.s3.amazonaws.com/static/images/default-profile-pic.png\" ng-src=\"{{::game.icon}}\">
				</div>
				<p class=\"title\">{{::game.name}}</p>
				<p class=\"broadcasts\">{{::game.broadcastCount}} broadcasts</p>
			</a>
		</div>
	</div>
</div>
