<!-- $templateCache.put("app/routes/channel.html" -->
<div class=\ "deep-link-bar\" ng-if=\ "vm.deepLinkView\"><a href=\ "/beta\" target=\ "_self\" class=\ "btn btn-info\">Download the App</a>
</div>
<div class=\ "channel\" ng-class=\ "{embeddedBroadcast: vm.state === \'broadcastEmbed\'}\">
	<div class=\ "row video-wrapper\">
		<div class=\ "stream-status-wrapper\">
			<div ng-class=\ "{\'show\':!vm.online && vm.loaded && vm.isChannelPage}\" class=\ "offline stream-status\">Offline</div>
			<div ng-class=\ "{\'show\': vm.online && vm.loaded && vm.state !== \'broadcast\'}\" class=\ "online stream-status\">Live</div>
		</div>
		<jwplayer ng-if=\ "vm.online || vm.broadcast.isPastBroadcast\" options=\ "vm.playerOptions\"></jwplayer>
	</div>
	<div class=\ "channeluser row\">
		<div class=\ "channeluser-logo-wrapper\">
			<div class=\ "channeluser-logo\" ng-style=\ "{\'background-image\': \'url(\' + vm.formatUrl(vm.channelUser.user.profileLogoSmall) + \')\'}\"></div>
		</div>
		<div class=\ "channeluser-info\">
			<div ng-show=\ "vm.channel\"><a ng-href=\ "{{(vm.channel.type !== \'user\' ? vm.channel.url + \'/u\' : \'\')}}/{{vm.channelUser.user.url}}\" class=\ "username\" target=\ "{{::vm.profileLinkTarget}}\">{{vm.channelUser.user.username}}</a> <span class=\ "stream-info\" ng-show=\ "vm.showStreamInfo\"><span>&nbsp;/&nbsp;</span>
				<ng-pluralize ng-show=\ "!vm.broadcast.isPastBroadcast && vm.showLiveViewerCounts\" count=\ "vm.broadcast.currentViewers\" when=\ "{\'0\': \'0 Viewers\', \'one\': \'1 Viewer\', \'other\': \'{} Viewers\'}\"></ng-pluralize>
				<ng-pluralize ng-show=\ "!vm.broadcast.isPastBroadcast && !vm.showLiveViewerCounts\" count=\ "vm.broadcast.totalViews\" when=\ "{\'0\': \'0 Views\', \'one\': \'1 View\', \'other\': \'{} Views\'}\"></ng-pluralize>
				<ng-pluralize ng-show=\ "vm.broadcast.isPastBroadcast\" count=\ "vm.broadcast.totalViews\" when=\ "{\'0\': \'0 Views\', \'one\': \'1 View\', \'other\': \'{} Views\'}\"></ng-pluralize><span class=\ "info-divider\">&nbsp;|&nbsp;</span> <span>♥ {{vm.broadcast.likes}}</span></span>
			</div>
			<div class=\ "stream-title\"><span ng-show=\ "vm.showStreamInfo\">{{vm.broadcast.title}}</span>
			</div>
		</div>
		<div>
			<button class=\ "download-button btn btn-default broadcast-button\" ng-show=\ "vm.showFollowButton\" ng-click=\ "vm.toggleFollowUser(!vm.channelUser.user.currentFollowed)\">{{vm.channelUser.user.currentFollowed ? \'Unfollow\' : \'Follow\'}}</button>
			<button class=\ "download-button btn btn-default broadcast-button\" ng-show=\ "vm.showLikeButton\" ng-click=\ "vm.toggleLikeUser(!vm.broadcast.currentLiked)\">{{vm.broadcast.currentLiked ? \'Unlike\' : \'Like\'}}</button>
			<div ng-show=\ "vm.showBroadcasterOptions\" class=\ "btn-group download-button\" uib-dropdown=\ "\" dropdown-append-to-body=\ "\">
				<button type=\ "button\" class=\ "btn btn-default dropdown-toggle broadcaster-dropdown\" uib-dropdown-toggle=\ "\"><span class=\ "broadcaster-label\">Broadcast Options</span><span class=\ "caret\"></span>
				</button>
				<ul class=\ "dropdown-menu user-menu\" role=\ "menu\" uib-dropdown-menu=\ "\">
					<li><a ng-href=\ "http://vodsrc.mobcrush.com/u/video/{{vm.broadcast._id}}/recording.mp4\" download=\ "\">Download</a>
					</li>
					<li><a href=\ "\" ng-click=\ "vm.deleteBroadcast()\">Delete</a>
					</li>
					<li ng-show=\ "vm.showThumbnailUploadOption\"><a href=\ "\" ng-click=\ "vm.uploadCustomThumbnail()\">Upload Thumbnail</a>
					</li>
				</ul>
			</div>
			<button class=\ "download-button btn btn-default broadcast-button share-button\" ng-click=\ "::vm.showShareOptions($event)\" ng-show=\ "vm.showShareButton\">Share</button>
		</div>
	</div>
	<uib-tabset ng-if=\ "vm.channel && !vm.embedMode\" class=\ "channel-tab-area\">
		<uib-tab heading=\ "{{::vm.channel.name}}\" ng-if=\ "::vm.channel.type !== \'user\'\">
			<div class=\ "container-fluid broadcast-list\">
				<div class=\ "row\">
					<ng-include src=\ "\'app/components/broadcastTile.html\'\" ng-repeat=\ "broadcast in ::vm.channelUserBroadcasts | orderBy:\'user.username\'\"></ng-include>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading=\ "About\" ng-if=\ "(vm.channel.description || vm.showProfileOptions)\" active=\ "true\">
			<div class=\ "profile\">
				<div class=\ "profile-description\">
					<div class=\ "header\">
						<label class=\ "description-label\">DESCRIPTION</label>
						<button class=\ "btn btn-group edit-button\" ng-show=\ "vm.showProfileOptions && !vm.descriptionEditable\" ng-click=\ "vm.editProfileDescription()\">Edit</button>
						<label class=\ "character-count\" ng-class=\ "{\'character-count-exceeded\': vm.profileDescription.length > 500}\" ng-show=\ "vm.descriptionEditable\">{{vm.profileDescription.length}} / 500</label>
					</div>
					<div class=\ "body\">
						<div class=\ "description-text\" ng-show=\ "!vm.descriptionEditable\">
							<p ng-bind-html=\ "vm.description\"></p>
						</div>
						<textarea ng-show=\ "vm.descriptionEditable\" ng-model=\ "vm.profileDescription\" class=\ "msd-elastic\"></textarea>
						<button class=\ "btn btn-group save-button\" ng-show=\ "vm.showProfileOptions && vm.descriptionEditable\" ng-click=\ "vm.saveDescription()\">Save</button>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading=\ "Recent Broadcasts\">
			<ng-include src=\ "\'app/components/list.html\'\" ng-controller=\ "ListController as list\"></ng-include>
		</uib-tab>
	</uib-tabset>
</div>
